.footer {
  grid-column: full-start / full-end;

  background-color: $color-grey-dark-2;

  display: flex;
  flex-direction: column;

  &__nav {
    display: flex;
    margin: 15rem 2rem;
    justify-content: center;

    & a {
      font-family: $font-display;
      font-weight: 400;
      color: $color-grey-light-1;
      font-size: 1.7rem;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 3rem;

      transition: 0.2s;

      &:hover,
      &:active {
        color: $color-tertiary;
      }
    }
  }

  &__cop {
    text-align: center;
  }
}
