.agentCard {
  height: 40rem;

  background-color: #fff;
  padding: 1rem;

  & .agentCard__header {
    top: 1rem;
    right: 1rem;
    left: 1rem;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;

    & p {
      display: flex;
      align-items: center;
      margin-bottom: 0.3rem;
      margin-left: 0.4rem;
    }

    & span {
      margin-left: 1rem;
    }

    & svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  &__name {
    padding: 1rem 0.5rem;
  }

  &__button {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
  }
}
