.agentCard {
  height: 40rem;

  background-color: #fff;
  padding: 1rem;

  & .agentCard__header {
    top: 1rem;
    right: 1rem;
    left: 1rem;
    overflow: hidden;
  }

  &__name {
    padding: 1rem 0.5rem;
  }

  &__button {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
  }
}
