.card1 {
  width: 100%;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  overflow: hidden;

  position: relative;
}

.card {
  height: 54rem;

  background-size: cover;

  background-color: #fff;

  &__image {
    height: 47%;
    z-index: 2;
  }

  &__content {
    height: 60%;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;

    padding: 5rem 4rem 8.5rem 4rem;

    display: grid;
    grid-template-columns: repeat(2, 9rem);
    grid-template-rows: 2rem repeat(2, 4rem);
    grid-row-gap: 2.5rem;
    grid-column-gap: 20%;
    justify-content: space-between;

    .card__title {
      grid-column: 1 / 3;
      height: 6rem;
      transform: translateY(-75%);

      position: relative;
      z-index: 3;

      background-size: cover;
      background-repeat: no-repeat;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $color-light;
      font-size: 1.5rem;
    }

    & p {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 1.5rem;
      color: $color-primary;
      justify-content: space-between;

      & span {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        margin-top: -2px;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 9rem;

    z-index: 2;

    text-align: center;
  }
}
