.cardsSectionWrapper {
  grid-column: center-start / center-end;

  margin: 15rem 5rem;
  background-color: $color-light;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 40rem));
  grid-gap: 3rem;
  justify-content: center;

  @include respond(L) {
    margin: 5rem;
  }

  @include respond(M) {
    margin: 5rem 3rem;
  }

  @include respond(S) {
    grid-column: full-start / full-end;
    margin: 3rem 1rem;
    grid-column-gap: 0;
  }
}
