.hero {
  background-color: $color-secondary;

  & figure {
    height: 100%;
  }

  &__overlay {
    height: 100%;
    width: 100%;

    background: rgb(58, 95, 182);
    background: linear-gradient(
      90deg,
      rgba(58, 95, 182, 0.85) 0%,
      rgba(58, 95, 182, 0.85) 100%
    );

    padding: 5rem;

    display: flex;
    align-items: flex-end;

    @include respond(S) {
      padding: 1rem 1rem 1rem 3rem;
    }
  }
}
