.hero {
  background-color: $color-secondary;

  & figure {
    height: 100%;
  }

  &__overlay {
    height: 100%;
    width: 100%;

    background: rgb(58, 95, 182);
    background: linear-gradient(
      90deg,
      rgba(58, 95, 182, 0.85) 0%,
      rgba(58, 95, 182, 0.85) 100%
    );

    padding: 5rem;

    display: flex;
    align-items: flex-end;
  }
}

.message {
  position: relative;

  padding: 1rem;

  h3 {
    margin-bottom: 3rem;
  }

  p {
    position: relative;
    z-index: 2;
  }

  &__quotes {
    font-size: 40rem;
    position: absolute;
    color: darken($color-secondary, 10);

    z-index: 1;

    &--open {
      top: -17rem;
      left: -1rem;
    }

    &--close {
      top: -4rem;
      right: 0;
    }
  }

  &__author {
    margin-top: 1.5rem;
  }
}
