.logo {
  font-family: $font-display;
  color: $color-light;

  & p {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;

    // &::before {
    //   content: "⧋";
    //   position: absolute;
    //   font-weight: 100;
    //   top: -225px;
    //   left: -5px;
    //   font-size: 18.6rem;
    // }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 26.8rem;
      background-color: $color-light;
      left: 0;
      top: 57px;

      @include respond(L) {
        top: 30px;
        width: 19.4rem;
      }
    }

    @include respond(L) {
      font-size: 2.4rem;
    }
  }

  & span {
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: 4px;
    margin-left: 15.2rem;
    transform: translateY(-17px);

    @include respond(L) {
      font-size: 1.5rem;
      margin-left: 8.7rem;
      transform: translateY(-10px);
    }
  }
}
