.message {
  position: relative;
  width: 100%;

  p {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__author {
    margin-top: 1.5rem;
  }
}
