// COLOR VARIABLES
$color-primary: #673ab7;
$color-primary-dark: #4527a0;

$color-secondary: #404eb8;

$color-grey-light-1: #dad7de;
$color-grey-light-2: #8b8890;

$color-grey-dark-1: #27262a;
$color-grey-dark-2: #3d3c40;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
