.hero--about {
  grid-column: full-start / col-end 5;

  @include respond(XL) {
    grid-column: full-start / col-end 4;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
  }

  &__content {
    grid-column: col-end 5 / full-end;
    background-color: $color-secondary;

    padding: 5rem;

    & h1 {
      margin-bottom: 3rem;
    }
  }
}

.heroMessage--about {
  grid-column: col-end 5 / full-end;
  background-color: $color-secondary;

  padding: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(XL) {
    grid-column: col-end 4 / full-end;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
  }
}

.timeline {
  grid-column: full-start / full-end;
  background-color: $color-light;
  border-top: solid 4px #fff;
  border-bottom: solid 4px #fff;

  padding: 15rem 0;

  position: relative;

  & .vertical-timeline-element-date {
    color: $color-secondary;
    font-size: 1.5rem !important;
  }

  & .vertical-timeline-element-title {
    font-size: 1.5rem;
    font-family: $font-display;
  }

  &__paragraph {
    font-size: 1.5rem !important;
  }

  &::after {
    content: "";
    width: 4px;
    height: 16rem;
    background-color: white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;

    @media (max-width: 1169px) {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 4px;
    height: 16rem;
    background-color: white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;

    @media (max-width: 1169px) {
      display: none;
    }
  }

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 5rem 3rem;
  }

  @include respond(S) {
    padding: 3rem 1rem;
  }
}

.container--about {
  .article {
    grid-column: full-start / full-end;
    padding: 15rem 5rem;

    color: $color-light;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    @include respond(L) {
      grid-template-rows: repeat(2, min-content);
    }

    &__heading {
      grid-column: 2 / 4;

      position: relative;

      h2 {
        margin-bottom: 5rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 16rem;
        background-color: $color-light;
        left: -5.8rem;
        top: 3rem;

        @include respond(S) {
          left: -2.5rem;
        }
      }

      @include respond(L) {
        grid-column: 2 / 7;
      }
    }

    &__content {
      grid-column: 5 / 7;

      @include respond(L) {
        grid-column: 2 / 7;
        margin-top: 5rem;
      }
    }

    @include respond(L) {
      padding: 5rem;
    }

    @include respond(M) {
      padding: 5rem 3rem;
    }

    @include respond(S) {
      padding: 3rem 1rem;
    }
  }
}
