.hero--about {
  grid-column: full-start / col-end 5;

  &__content {
    grid-column: col-end 5 / full-end;
    background-color: $color-secondary;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem;

    & h1 {
      margin-bottom: 3rem;
    }
  }
}

.timeline {
  grid-column: full-start / full-end;
  background-color: $color-light;
  border-top: solid 4px #fff;
  border-bottom: solid 4px #fff;

  padding: 15rem 0;

  position: relative;

  & .vertical-timeline-element-date {
    color: $color-secondary;
    font-size: 1.5rem !important;
  }

  & .vertical-timeline-element-title {
    font-size: 1.5rem;
    font-family: $font-display;
  }

  &__paragraph {
    font-size: 1.5rem !important;
  }

  &::after {
    content: "";
    width: 4px;
    height: 16rem;
    background-color: white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
  }

  &::before {
    content: "";
    width: 4px;
    height: 16rem;
    background-color: white;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
  }
}

.container--about {
  .article {
    grid-column: full-start / full-end;
    padding: 15rem 5rem;

    color: $color-light;

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    &__heading {
      grid-column: 2 / 4;

      position: relative;

      h2 {
        margin-bottom: 5rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 16rem;
        background-color: $color-light;
        left: -6.4rem;
        top: 3rem;
      }
    }

    &__content {
      grid-column: 5 / 7;
    }
  }
}
