.heroMessage--home {
  grid-column: col-end 5 / full-end;
  background-color: $color-secondary;

  padding: 5rem 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & div {
    width: 100%;
    display: flex;
    align-items: center;

    margin: 1rem 0;
  }

  & svg {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
  }

  @include respond(XL) {
    grid-column: col-end 4 / full-end;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
  }

  @include respond(S) {
    padding: 5rem;
  }
}

.homeArticle {
  padding: 15rem 0;
  grid-column: center-start / center-end;

  font-size: 1.5rem;
  font-family: $font-primary;

  & article {
    margin-top: 15rem;

    @include respond(L) {
      margin-top: 5rem;
    }

    @include respond(S) {
      margin-top: 3rem;
    }
  }

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 5rem 3rem;
  }

  @include respond(S) {
    padding: 3rem 1rem;
  }
}

.homeGallery {
  margin: 0 auto;
  margin-bottom: 15rem;
  grid-column: center-start / center-end;

  @include respond(XL) {
    width: 70rem;
  }

  @include respond(L) {
    margin-bottom: 5rem;
    width: 66rem;
  }

  @include respond(M) {
    margin: 0 auto;
    width: 50rem;
  }

  @include respond(S) {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 30rem;
  }
}
