.hero--index {
  grid-column: full-start / col-end 5;

  @include respond(XL) {
    grid-column: full-start / col-end 5;
  }

  @include respond(L) {
    grid-column: full-start / col-end 4;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
  }
}

.hero-messages {
  background-color: $color-secondary;
  grid-column: col-end 5 / full-end;
  padding: 5rem 5rem;

  position: relative;

  overflow: visible;

  display: flex;
  justify-content: center;
  align-items: center;

  & .slick-slider {
    width: 22vw;

    @include respond(L) {
      width: 30vw;
    }

    @include respond(M) {
      padding: 5rem 0;
      width: 32rem;
    }

    @include respond(S) {
      width: 26rem;
    }
  }

  & .slick-dots li button::before {
    color: $color-light;
  }

  & .slick-dots li.slick-active button::before {
    color: #fff;
  }

  @include respond(XL) {
    grid-column: col-end 5 / full-end;
  }

  @include respond(L) {
    grid-column: col-end 4 / full-end;
    padding: 5rem 2rem;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
    padding: 2rem 0;
  }

  @include respond(S) {
    padding: 1rem 1rem 3rem 1rem;
  }
}

.ownerMessage {
  grid-column: center-start / center-end;

  padding: 0 5rem;

  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 0 3rem;
    flex-direction: column;
  }

  @include respond(S) {
    justify-content: flex-start;
    padding: 0 1rem;
    padding-top: 3rem;
  }

  &__content {
    height: 100%;
    width: 50%;
    color: $color-dark;

    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(L) {
      width: 55%;
    }

    @include respond(M) {
      width: 100%;
      height: 30rem;

      align-items: flex-end;
    }

    @include respond(M) {
      height: 25rem;
    }

    @include respond(S) {
      width: 100%;
      height: 20rem;
    }
  }
  &__photo {
    height: auto;
    position: absolute;
    width: 30%;
    right: 5%;
    bottom: 0;

    @include respond(M) {
      width: 45%;
    }

    @include respond(S) {
      width: 60%;
    }
  }
}

.features {
  grid-column: center-start / center-end;

  padding: 15rem 5rem;

  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;

  border-bottom: 1px solid $color-secondary;

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 5rem 3rem;
  }

  @include respond(S) {
    padding: 3rem 1rem;
  }
}

.story {
  &__pictures {
    grid-column: full-start / col-end 4;

    position: relative;

    & .story__image-background {
      height: 100%;
      width: 100%;
    }

    @include respond(L) {
      grid-column: full-start / full-end;
    }
  }

  &__content {
    grid-column: col-end 4 / full-end;

    background-color: darken($color-light, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 6rem 8vw;

    @include respond(L) {
      grid-column: full-start / full-end;
    }

    @include respond(S) {
      width: 100%;
      padding: 5rem 3rem;
    }

    @include respond(S) {
      width: 100%;
      padding: 3rem 1rem;
    }
  }
}

// .homes {
//   background-color: $color-light;
//   grid-column: center-start / center-end;

//   margin: 15rem 5rem;

//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
//   grid-gap: 6rem;
// }

.gallery-section {
  grid-column: full-start / full-end;

  padding: 15rem 5rem;
  background-color: #fff;

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 5rem 3rem;
  }

  @include respond(S) {
    padding: 3rem 1rem;
  }
}
