.hero {
  background-color: $color-secondary;
  grid-column: full-start / col-end 6;
}

.message {
  background-color: $color-secondary;
  grid-column: col-end 6 / full-end;
}

.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
}

.story {
  &__pictures {
    background-color: gold;
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: rosybrown;
    grid-column: col-end 4 / full-end;
  }
}

.homes {
  background-color: turquoise;
  grid-column: center-start / center-end;
}

.gallery {
  background-color: papayawhip;
  grid-column: full-start / full-end;
}
