.heroMessage--legal {
  grid-column: col-end 5 / full-end;
  background-color: $color-secondary;

  padding: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(XL) {
    grid-column: col-end 4 / full-end;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
  }
}

.legal {
  grid-column: center-start / center-end;

  padding: 15rem 3rem;

  & h3 {
    margin-bottom: 1rem;
  }

  & h3:not(:first-child) {
    margin-top: 3rem;
  }

  & li {
    margin-left: 1.5rem;
  }

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 5rem 3rem;
  }

  @include respond(S) {
    padding: 3rem 1rem;
  }
}
