.heroMessage--post {
  grid-column: col-end 5 / full-end;
  background-color: $color-secondary;

  padding: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(XL) {
    grid-column: col-end 4 / full-end;
  }

  @include respond(M) {
    grid-column: full-start / full-end;
  }
}

.post {
  grid-column: center-start / center-end;

  padding: 15rem 0;

  font-size: 1.5rem;

  & h4 {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__author {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  &__link {
    display: inline-block;
    margin-top: 3rem;
  }

  @include respond(L) {
    padding: 5rem;
  }

  @include respond(M) {
    padding: 5rem 3rem;
  }

  @include respond(S) {
    padding: 3rem 1rem;
  }
}
